@import "../../theme/variables.scss";
@import "../../theme/mixins.scss";

.items {
}

.item {
  @include clearfix();
  margin-bottom: $post-feed-margin / 2;

  &:after {
    content: "";
    width: 120px;
    padding-top: ($post-feed-margin / 2) + 3;
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(
      to right,
      #ccc 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: -10px bottom;
    background-size: 10px 3px;
    background-repeat: repeat-x;
  }

  &:last-child:after {
    display: none;
    margin-bottom: 0;
  }
}

.animatedBackground {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.73, 1.04);
  background: linear-gradient(
    to right,
    transparent 8%,
    rgba(white, 0.4) 18%,
    transparent 33%
  );
  background-size: 800px 104px;
  position: relative;
}

.data {
  composes: animatedBackground;
  border-radius: 5px;
}

.picture {
  float: left;
  width: $post-feed-picture-width;
  height: $post-feed-picture-height;
}

.content {
  margin-left: $post-feed-picture-width + 30px;
  padding-top: 5px;
}

.line {
  composes: data;
  height: 12px;
  margin-bottom: 12px;
}

.line1 {
  composes: line;
  margin-bottom: 22px;
  width: 40%;
}

.line2 {
  composes: line;
  width: 90%;
}

.line3 {
  composes: line;
  width: 62%;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  80% {
    background-position: -150% 0;
  }
  100% {
    background-position: -150% 0;
  }
}
