
@import "../../theme/variables.scss";
@import "../../theme/mixins.scss";

@mixin hr-size($name, $size) {
  .#{$name} {
    margin-top: ($size / 2);
    margin-bottom: ($size / 2);
  }

  .inline {
    &.#{$name} {
      margin: 0 ($size / 2);
    }
  }
}

.hr {
  @include clearfix;

  border: 0;
  margin: ($hr-size-md / 2) 0;
}

  .line {
    display: block;
    height: 3px;
    width: 40%;
    min-width: 140px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #CCC 33%, rgba(255,255,255,0) 0%);
    background-position: -10px bottom;
    background-size: 10px 3px;
    background-repeat: repeat-x;
  }

  .inline {
    display: inline-block;
    margin: 0 ($hr-size-md / 2);
  }

  @include hr-size('nm', $hr-size-nm);
  @include hr-size('xs', $hr-size-xs);
  @include hr-size('sm', $hr-size-sm);
  @include hr-size('md', $hr-size-md);
  @include hr-size('lg', $hr-size-lg);
  @include hr-size('xl', $hr-size-xl);
