@import "../../theme/mixins.scss";

.container {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.xs {
  max-width: 500px;
}
.sm {
  max-width: 700px;
}
.md {
  max-width: 900px;
}
.lg {
  max-width: 1100px;
}
.xl {
  max-width: 1300px;
}
