
@import './variables';

.link {
  padding: 3px 10px;
  border-radius: 3px;
  margin-bottom: 3px;
  border-top: $border-color solid 1px;
}

.panes {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.pane {
  width: 100%;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
