@import "./variables";

$background: lighten(black, 98%);

.label {
  padding: 7px 15px;
  border-bottom: $border-color solid 1px;
  cursor: pointer;

  &:hover {
    background: $background;
  }
}

.more {
  composes: label;
  text-align: center;
}

.readOnly {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.7);
  }
}
