
@import './variables';

$background: lighten($border-color, 5%);

.panel {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  background: white;
}

.title {
  border-bottom: $border-color solid 1px;
  background: $background;
  padding: 7px 15px;
}
