
@import './variables';

.tabs {
  border-bottom: $border-color solid 1px;
}

.tabsContent {
  display: flex;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 10px 3px 7px;
  cursor: pointer;
  border-bottom: transparent solid 3px;

  &:hover {
    border-bottom-color: darken($border-color, 3%);
  }
}

.tabDisabled {
  opacity: .3;
  cursor: default;
}

.tabActiveBar {
  height: 3px;
  background: red;
  transition: transform .3s ease-in-out;
  margin-top: -3px;
}
