/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;




// Bootstrap Variables
$text-color: #333;

$font-size-base: 16px;
$font-family-sans-serif: "Lato", sans-serif;




// App variables

// -- Font weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// -- Colors
$color-main: #228fcb;

// -- Header
$header-height: 90px;
$header-zindex: 100;
$header-logo-height: 50px;
$header-brand-height: 32px;

// -- Sidebar
$sidebar-zindex: 200;

// -- Hr
$hr-size-nm: 0;
$hr-size-xs: 5px;
$hr-size-sm: 10px;
$hr-size-md: 20px;
$hr-size-lg: 40px;
$hr-size-xl: 60px;

// -- Overlay
$overlay-zindex: 100;

// -- PopButton
$pop-button-zindex: 1200;
$pop-button-size: 60px;
$pop-button-margin: 15px;

// -- Posts feed
$post-feed-margin: 36px;
$post-feed-picture-width: 170px;
$post-feed-picture-height: 130px;
