// Custom Colors
$cyan: #33e0ff;
$humility: #777;




// Bootstrap Variables
$text-color: #333;

$font-size-base: 16px;
$font-family-sans-serif: "Lato", sans-serif;




// App variables

// -- Font weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// -- Colors
$color-main: #228fcb;

// -- Header
$header-height: 100px;
$header-zindex: 100;
$header-logo-height: 58px;
$header-brand-height: 36px;
$header-sticky-height: $header-height * 0.6;
$header-sticky-logo-scale: 0.8;
$header-sticky-brand-scale: 0.8;
$header-sticky-brand-translate: -5%;

// -- Sidebar
$sidebar-zindex: 200;

// -- Hr
$hr-size-nm: 0;
$hr-size-xs: 5px;
$hr-size-sm: 10px;
$hr-size-md: 20px;
$hr-size-lg: 40px;
$hr-size-xl: 60px;

// -- Button
$button-size-xxs: 10px;
$button-size-xs: 12px;
$button-size-sm: 14px;
$button-size-md: 16px;
$button-size-lg: 20px;
$button-size-xl: 26px;
$button-size-xxl: 32px;

// -- Overlay
$overlay-zindex: 100;

// -- PopButton
$pop-button-zindex: 1200;
$pop-button-size: 60px;
$pop-button-margin: 15px;

// -- Posts feed
$post-feed-margin: 36px;
$post-feed-picture-width: 170px;
$post-feed-picture-height: 130px;

@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';
