
@import "../../theme/variables.scss";

.header {
  background: white;
  height: $header-height - 1;
  border-bottom: solid 1px #EEE;
  display: flex;
  align-items: center;
  padding: 0 ($header-height + 20) 0 20px;
  z-index: 100;
}

  .logo {
    height: $header-logo-height;
  }

  .brand {
    height: $header-brand-height;
    margin-left: 20px;
    margin-top: -6px;
  }

  .links {
    margin-left: auto;
    display: flex;
    flex-grow: 1;
    max-width: 500px;
    padding-left: 20px;
  }

  .linksItem {
    flex-grow: 1;
    text-align: center;
  }

  .link {
    color: #AAA;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $font-weight-medium;

    &:hover {
      color: $color-main;
    }
  }

  .linkCarret {
    color: $color-main;
    margin-left: 10px;
  }