@import "../../theme/variables.scss";

.header {
  position: fixed;
  top: 0;
  z-index: $header-zindex;
  width: 100%;
  transition: background 0.3s;

  &.mini {
    .logo {
      transform: scale($header-sticky-logo-scale);
    }

    .brand {
      transform: scale($header-sticky-brand-scale)
        translateX($header-sticky-brand-translate);
    }
  }

  &.sticky {
    background: #111;

    .body {
      height: $header-sticky-height;
    }

    .logo {
      transform: scale($header-sticky-logo-scale) rotate(180deg);
    }
  }
}

.body {
  display: flex;
  align-items: center;
  height: $header-height;
  padding: 0 30px;
  transition: height 0.3s;
}

.logo {
  height: $header-logo-height;
  margin-right: 20px;
  transition: transform 0.5s;
}

.brand {
  height: $header-brand-height;
  margin-right: 20px;
  transition: transform 0.3s;
  transform-origin: left center;
}

.burger {
  position: relative;
  margin-left: 35px;
  z-index: $sidebar-zindex + 1;
}

.search {
  display: none;
  margin-left: 20px;
}

.blankItem {
  margin-left: auto;
}

.links {
  display: flex;
  flex-grow: 0;
}

.linksItem {
  flex-grow: 0;
  text-align: right;
  margin-left: 20px;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-weight-light;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:visited {
    color: white;
    text-decoration: none;
  }
}
