
@import "../../theme/variables.scss";

.header {
  position: fixed;
  top: 0;
  z-index: $header-zindex;
  width: 100%;
  transition: background .3s;

  &.foobar {
    background: #124765;

    .body {
      height: $header-height * 0.7;
    }
  }
}

  .body {
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 0 30px;
    transition: height .3s;
  }

  .logo {
    height: $header-logo-height;
    margin-right: 20px;
  }

  .brand {
    height: $header-brand-height;
    margin-right: 20px;
  }

  .burger {
    position: relative;
    margin-left: 35px;
    z-index: $sidebar-zindex + 1;
  }

  .search {
    display: none;
    margin-left: 20px;
  }

  .blankItem {
    margin-left: auto;
  }

  .links {
    display: flex;
    flex-grow: 1;
    max-width: 300px;
    margin-left: 20px;
  }

  .linksItem {
    flex-grow: 1;
    text-align: right;
  }

  .link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $font-weight-light;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }

    &:focus,
    &:visited {
      color: white;
      text-decoration: none;
    }
  }
