
@import "../../theme/variables.scss";

.jumbotron {
  background: #124765;
  background-image: url(/generic-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 30vh;
}

  .content {
    // padding-top: $header-height;
  }
