
@import "../../theme/variables.scss";

.jumbotron {
  background: #124765;
  background-image: url(/generic-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $header-sticky-height;
  }
