
@import "../../theme/variables.scss";

.sidebar {
  background: $color-main;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: $header-height;
  height: $header-height - 1;
  transition: height .15s, width .15s .1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  z-index: $sidebar-zindex;
}

  .content {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    padding: 20px 50px;
  }

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $header-height;
    height: $header-height;
    margin-left: auto;
  }

  .link {
    display: block;
    color: white;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-align: right;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: transform .2s;
    transform-origin: right;

    &:hover {
      transform: scale(1.05);
    }
  }

  .opened {
    bottom: 0;
    width: 550px;
    height: 100vh;
    transition: width .3s, height .3s .3s;
    z-index: $sidebar-zindex + $overlay-zindex;

    .content {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s .6s;
    }
  }

  @media (max-width: 767px) {
    .opened {
      width: 100%;
    }
  }