
@import "../../theme/variables.scss";

.footer {
  color: white;
  padding: 70px;
  background: #1f1f1f;
  margin-top: 100px;
  text-align: center;
  font-weight: $font-weight-thin;
  font-size: 1.1rem;
}
