
.image {
  background: no-repeat center center;
  background-size: cover;
  height: 0;
  line-height: 0;
  padding-bottom: 52.25%;
}

  .img {
    width: 0;
    height: 0;
    visibility: hidden;
  }